/* all CSS for LocationByClient directory */


/* ====== Location Wrapper ====== */
.LocationsWrapper{
    width: 76vw;
    height: 90vh;
    background: var(--white);
}
.LocationsWrapper header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 15px; */
    font-size: 16px;
    padding: 0px 12px
}
.LocationsWrapper h1{
    font-weight: bold;
}
.LocationsWrapper h3{
    font-weight: bold;
    color: var(--primary);
    font-size: 14px;
}
.LocationsWrapper i{
    color: var(--darkGray);
    /* font-size: 30px; */
    /* padding: 0 14px; */
}
.LocationsWrapper section{
    align-items: center;
}
.locationSortBar{
    justify-content: flex-start;
    margin: 0px 60px;
    font-size: 12px;
}
.spacing{
    justify-content: space-around;
    margin: 0px 20px
}
.locationSort{
    align-items: center;
}
.locationSort + div{
    justify-content: center;
}
.sortArrows i{
    position: relative;
    top: 10px;
}
.sortArrows i:nth-child(2){
    position: relative;
    top: -7px;
}
.headerButton *{
    margin-left: 16px
}
.headerContainer{
    margin: 10px;
    border-bottom: solid 1px var(--darkGray);
}


/* ====== Individual Location ====== */
.imgContainer{
    padding: 0 10px;
}
.imgContainer img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.locationDisplay{
     width: 30%

}

.lastManagedDisplay{
    width: 15%;
}
.userDisplay{
    /* padding-right: 20px; */
    width: 25%;
}
.notificationsDisplay{
    width: 15%;
}
.managePlaceholder{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center
}
.nameAddress{
    text-align: left;
    font-size: 12px
}
.nameAddress div{
    color: (--darkGray);
    padding: 5px 0px 0px 0px
}
.individualLocationWrapper{
    margin : 5px
}
.userImages{
    background:var(--gray);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    justify-content: center;
    margin:2px
}
.userImages div{
    font-size: 8px;
}
.bottomBorder{
    border-bottom: solid 1px var(--darkGray);    
}
