/* all CSS for LocationByClient directory */


/* ====== Location Wrapper ====== */
.LocationsWrapper{
    width: 71vw;
    height: 80vh;
    background: var(--white);
}
.LocationsWrapper header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 22px
}
.LocationsWrapper h1{
    font-weight: bold;
}
.LocationsWrapper h3{
    font-weight: bold;
    color: var(--primary);
    font-size: 20px;
    letter-spacing: 1px;
}
.LocationsWrapper i{
    color: var(--darkGray);
    font-size: 30px;
    /* padding: 0 14px; */
}
.LocationsWrapper section{
    align-items: center;
}
.searchSubMenu{
    padding: 0 40px;
}
.searchSubMenu i{
    padding: 0
}
.locationSortBar{
    justify-content: space-around;
    margin: 0px 60px
}
.spacing{
    justify-content: space-around;
    margin: 0px 20px
}
.locationSort{
    align-items: center;
}
.locationSort + div{
    justify-content: center;
}
.sortArrows i{
    position: relative;
    top: 10px;
}
.sortArrows i:nth-child(2){
    position: relative;
    top: -10px;
}
.headerButton *{
    margin-right: 40px
}


/* ====== Individual Location ====== */
.imgContainer img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.locationDisplay{
     width: 25%

}

.lastManagedDisplay{
    width: 15%;
}
.userDisplay{
    width: 25%;
}
.notificationsDisplay{
    width: 15%;
}
.managePlaceholder{
    width: 20%;
}
.nameAddress{
    padding: 20px;
}
.nameAddress div{
    color: (--darkGray);
    padding: 5px 0px 0px 0px
}
.individualLocationWrapper{
    margin : 5px
}
.userImages{
    background:var(--gray);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
}
.bottomBorder{
    border-bottom: solid 1px var(--darkGray);    
}
