.modelBackground{
    width:100vw;
    height:100vh;
    position: absolute;
    top:0;
    background: #565555c9;
    z-index: 100;
    font-size: 16px;
}
.addLocationModel{
    height: 72vh;
    width: 30vw;
    background: var(--white);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
    overflow:hidden;
    border-radius: 5px; 
}
.addLocationModel input{
    outline: none;
    border: none;
    background: none;
    padding: 5px 20px 0 20px;
    font-size:16px;
    border-bottom: solid 1px var(--darkGray);
    width: 60%
}
.addLocationModel input::placeholder{
    font-size:16px;
    color:lightgray
}
.integratedWith div{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.integratedWith input[type=checkBox]{
    margin: 0px;
    margin-right: 3px;
}
.innerAdd{
    padding: 45px 50px;
}
.innerAdd h2{
    padding-top: 10px
}
.innerAdd h1{
    color: var(--primary);
    font-size: 24px
}
.closeModel{
  justify-content: flex-end;
  height: 0px;
}
.closeModel i{
    position: relative;
    top: -25px;
    right: -25px;
}

