/* This will contain all of the css for all 
components in the SideBar directory */


/* ==== SideBarWrapper ==== */
.SideBarWrapper{
    background: var(--white);
    width: 400px;
    height: 90vh; 
}
