/* styles for App and MainWrapper components */
.App {
  text-align: center;
  --black: #2b2c3a;
  --white: #ffffff;
  --primary: rgb(1, 118, 255);
  --gray: #f0f0f0;
  --darkGray: #797979;
  font-family: 'Nunito', sans-serif;
  background: var(--gray);
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}
/* saves you from having to type out flex all the time */
.flexRow{
  display: flex;
  flex-direction: row;
}
.flexColumn{
  display: flex;
  flex-direction: column;
  transition: .2s
}
i{
  cursor: pointer;
  color: var(--darkGray);
}
i:hover{
  color: var(--primary);
}

.mainWrapper{
  justify-content: space-around;
  padding: 20px;
}

/* button styles */
.primaryButton{
  background: var(--primary);
  color:var(--white);
  font-size: 18px;
  outline: none;
  border: none;
  width: 190px;
  height: 40px;
  border-radius: 3px;
  box-shadow: 1px 1px 6px #9b9b9f;
  cursor: pointer;
}
.secondaryButton{
  color:var(--primary);
  font-size: 18px;
  outline: none;
  border-color: var(--primary);
  width: 90px;
  height: 35px;
  border-radius: 3px;
  cursor: pointer;
}
.circularButton{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  color:var(--darkGray);
  border: solid 1px var(--darkGray);
  border-radius: 50%;
  margin: 0 3px;
}
.notificationIcon i{
  color: var(--primary)
}
.notificationIcon p{
  display: flex;
  justify-content: center;
  align-items: center;
  top: -40px;
  left: 90px;
  color: var(--white);
  background: red;
  position: relative;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.notificationIcon div{
  display: flex;
  justify-content: center;
  align-items: center;
  top: -40px;
  left: 54px;
  color: var(--white);
  background: red;
  position: relative;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
/* input[type=checkbox]:checked {
  background-color:#000;
  border-left-color:#06F;
  border-right-color:#06F;
} */
input[type=checkBox] {
  padding-left:5px;
  padding-right:5px;
  border-radius:4px;

  -webkit-appearance:button;

  border: double 2px var(--darkGray);

  background-color:#fff;
  color:#FFF;
  white-space: nowrap;
  overflow:hidden;

  width:15px;
  height:15px;
}

input[type=checkBox]:checked {
  background: var(--primary);
  border-color: var(--primary)
}
/* input[type=checkBox] ::-ms-check {
  background-image: url(https://openclipart.org/image/2400px/svg_to_png/295978/check-icn-black.png);
  color: red;
  background: black;
  padding: 1em;
} */





