.App {
  text-align: center;
  --black: #2b2c3a;
  --white: #ffffff;
  --main: rgb(1, 118, 255);
  --grey: #f9f9f9;
  font-family: 'Nunito', sans-serif;
  background: var(--grey);
  height: 100vh;
  width: 100vw;
}

